body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #810707;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #810707;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-estoque .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: Anton, sans-serif;
}

.section-title span {
    color: #810707;
}

#sobre {
    background-color: #5e5c5c;
}

.text-colored {
    color: #810707;
}

.nav-estoque .nav-link.active, 
#fale-conosco button{
    background-color: #810707;
    color: #fff;
}

.nav-estoque .nav-link:hover {
    color: #810707;
}

#jogos {
    background-color: rgb(158, 158, 158);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img (
        height: 280px;
    )
}

